.site-header .navbar {
	background-color: rgba(0, 0, 0, .75);
	padding: 1rem;
}
.navbar-brand {
	width: 250px;
	opacity: .50;
	margin-right: 0;
	transition: all .10s linear;
}

.navbar-brand:hover {
	opacity: 1;
}

@media ( min-width: 992px ) {
	.navbar-brand {
		width: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50%);
	}		
}

@media ( min-width: 1200px ) {
	.navbar-brand {
		width: 300px;
	}		
}

.site-footer {
	color: #7a7a7a;
	margin-top: 75px;
	padding-top: 125px;
	padding-bottom: 50px;
	position: relative;
}
.site-footer:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	height: 150px;
	width: 150px;
	transform: translate( -50%, -50%);
	background-image: url('../images/layout/mskuared-logo.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 150px 150px;
}
.site-footer a {
	color:	inherit;
	text-decoration: none;
	transition: all .25s linear;
}
.site-footer a:hover,
.site-footer a:focus {
	color: #fff;
}
.site-copyright {
	font-size: 90%;
}

/*------------------------------------*\
	#Styles
\*------------------------------------*/

h1, h2 {
	font-family: "fatfrank",sans-serif;
	font-weight: 400;
}

/*------------------------------------*\
	#Sections
\*------------------------------------*/

.section {
	padding-top: 50px;
	padding-bottom: 50px;

}
.section-feature {
	min-height: 600px;
	background-image: url('../video/Snapshots/Hello-World.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.section-feature:before {
	content: '';
	position: absolute;
	z-index: 10;
	background: linear-gradient(45deg, rgba(0, 47, 108, 0.75), rgba(224, 0, 17, 0.40) );
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.section-feature .intro-description {
	color: rgba( 255, 255, 255, .75);
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 20;
	transform: translate( 0, -50%);
	padding-left: 20px;
	padding-right: 20px;
}

@media ( min-width: 1200px ) {
	.section-feature .intro-description {
		left: 50%;
		right: auto;
		transform: translate( -50%, -50%);
		max-width: 750px;
		left: 50%;
	}
}

.section-feature .my-name {
	letter-spacing: 4px;
	border-bottom: solid 1px #fff;
}
.section-feature .my-position {
	letter-spacing: 1px;
}
.section-gradient {
	background-image: -webkit-linear-gradient(left, #43cea2, #185a9d);
	background-image: linear-gradient(to right,#43cea2, #185a9d);
}
.section-about-me {
	margin-top: -175px;
	position: relative;
	z-index: 10;
}
.section-about-me .profile-pic {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 10px solid rgba(255,255,255,.2);
}
.section-my-skills {
	background: linear-gradient(45deg,  rgba(224, 0, 17, 0.75), rgba(255, 145, 0, 0.75), rgba(224, 0, 17, 0.75));
}
.section-contact { 
	display: none;
	visibility: hidden;
}

/*------------------------------------*\
	#List
\*------------------------------------*/

.list-inline a,
.navbar-nav a {
	color: #7a7a7a;
	text-decoration: none;
	transition: all .25s linear;
}
.list-inline a:hover,
.list-inline a:focus,
.navbar-nav a:hover,
.navbar-nav a:focus {
	color: #fff;
}
.list-skills .list-inline-item {
	color: rgba( 255, 255, 255, .50);
	margin: 20px;
	transition: all .25s linear;
}
.list-skills .list-inline-item:hover{
	color: rgba( 255, 255, 255, 1);
}

/*------------------------------------*\
	#Misc Classes
\*------------------------------------*/

.section-feature .embed-responsive .embed-responsive-item {
	/* transform: translateY(-40%); */
}
